*{

}

html {
    margin: 0;
    padding: 0;
}
.title
{
    padding: 60px;
    text-align: center;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top:-90px
}

.grid
{
    margin-left: auto;
    margin-right: auto;
    width: 335px;
    position: relative;
    top: -180px;
    align-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
}

.grid>div
{
    border: 2px solid #777575;
    border-radius: 1px;
    padding: 10px;
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    font-size: 30px;
}

.body
{
    background-color: black;
}

.btn1>button
{
    background-color: #7c7b7b;
    color: white;
    padding: 18px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btn2>button
{
    background-color: #7c7b7b;
    color: white;
    padding: 18px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btn3>button
{
    background-color: #7c7b7b;
    color: white;
    padding: 18px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btn1
{
    margin-left: auto;
    margin-right: auto;
    width: 530px;
    position: relative;
    top: -160px;
}

.btn2
{
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    position: relative;
    top: -155px;

}

.btn3
{
    margin-left: auto;
    margin-right: auto;
    width: 590px;
    position: relative;
    top: -150px;

}

.line
{
    position: relative;
    top:-185px;
}


